*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.navbar{
    background-color: #edeeee;
}
.logo{
    height: 75px;
}
.d-flex{
    margin: 5px 5px 5px 5px;
}
.carousel-inner{
    width: auto;
}
.nav-link:hover{
    background-color: #a2e3c4;
}
.logo2{
    width: 40px;
    text-decoration: none;
}
.titulo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a2e3c4;
    color: rgb(255, 255, 255);
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 15px;
}
.section2{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.tarjeta{
    width: 70%;
    margin: 5px;
    border: #a2e3c4 solid 3px;
    border-radius: 10px;
    transition: transform .1s; 
}
.tarjeta:hover{
    transform: scale(0.95); 
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    margin: 15px;
}
.card{
    margin: 15px;
    height: auto;
}
.card:hover{
    transform: scale(1.05);
}

.img2{
    padding: 15%;
    height: 230px;
    color: blue;
}
.img2:hover{
    background-color: #a2e3c4;

}
.wp{
    width: 70px;
    height: 70px;
    position: fixed;
    top: 750px;
    right: 0%;
}
.accordion{
    border: #a2e3c4 solid 1px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
}

.texto1{
    display: flex;
}
.texto2{
    margin: 5px;
}
@media (max-width: 580px){
    .section3{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}